body { background: white; }

#carousel-wrapper,
#carousel figure {
  height: 100px;
  line-height: 100px;
  color: white;
}

#carousel figure:nth-of-type(1) {-webkit-transform: rotateX(0deg)   translateZ(86px);}
#carousel figure:nth-of-type(2) {-webkit-transform: rotateX(30deg)  translateZ(86px);}
#carousel figure:nth-of-type(3) {-webkit-transform: rotateX(60deg) translateZ(86px);}
#carousel figure:nth-of-type(4) {-webkit-transform: rotateX(90deg) translateZ(86px);}
#carousel figure:nth-of-type(5) {-webkit-transform: rotateX(120deg) translateZ(86px);}
#carousel figure:nth-of-type(6) {-webkit-transform: rotateX(150deg) translateZ(86px);}
#carousel figure:nth-of-type(7) {-webkit-transform: rotateX(180deg) translateZ(86px);}
#carousel figure:nth-of-type(8) {-webkit-transform: rotateX(210deg) translateZ(86px);}
#carousel figure:nth-of-type(9) {-webkit-transform: rotateX(240deg) translateZ(86px);}
#carousel figure:nth-of-type(10) {-webkit-transform: rotateX(270deg) translateZ(86px);}
#carousel figure:nth-of-type(11) {-webkit-transform: rotateX(300deg) translateZ(86px);}
#carousel figure:nth-of-type(12) {-webkit-transform: rotateX(330deg) translateZ(86px);}

#carousel[data-state="1"] figure:nth-of-type(1),
#carousel[data-state="2"] figure:nth-of-type(2),
#carousel[data-state="3"] figure:nth-of-type(3),
#carousel[data-state="4"] figure:nth-of-type(4),
#carousel[data-state="5"] figure:nth-of-type(5),
#carousel[data-state="6"] figure:nth-of-type(6),
#carousel[data-state="7"] figure:nth-of-type(7),
#carousel[data-state="8"] figure:nth-of-type(8),
#carousel[data-state="9"] figure:nth-of-type(9),
#carousel[data-state="10"] figure:nth-of-type(10),
#carousel[data-state="11"] figure:nth-of-type(11),
#carousel[data-state="12"] figure:nth-of-type(12) { opacity: 1; }

#carousel-wrapper {
  position: absolute;
  top: 30%;
  left: 25%;
  width: 50%;
  text-align: center;
  perspective: 1100px;
}

#carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
  transform-style: preserve-3d;
  transition: all 1s;
}

#carousel figure {
  display: block;
  position: absolute;
  width: 100%;
  margin: 0;
  font-size: 40px;
  font-weight: bold;
  color: black;
  text-align: center;
  opacity: .2;
  transition: all 1s;
  backface-visibility: hidden;
}
